node_modules/
dist/
*.jsbundle
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
.gradle/
local.properties
*.iml
.cocoapods/
yarn.lock
example/node_modules/
example/yarn.lock
android/.cxx